// Colors
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

  //Shade of gray
  $light-gray:#F6F6F6;
  $gray:#EAEAEA;
  $dark-gray:#353535;

//Fonts
$main-font:'Roboto', sans-serif;
$logo-title-font:'Shrikhand', sans-serif;

//Font size
$font-size-h1: 28px;
$font-size-h2: 24px;
$font-size-h3-subtitle: 18px;
$font-size-p: 17px;
$font-size-li-components-h2restaurant: 16px;
$font-size-p-restaurant: 15px;

//Shadows
$shadow-nav: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-localisation:0 4px 4px rgba(0, 0, 0, 0.25);
$shadow-button: 0 4px 10px rgba(0, 0, 0, .25);
$shadow-function: 0 4px 15px rgba(0, 0, 0, .15);

//Position
@mixin centered-presentation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

@mixin mobile-first {
    max-width: 375px;
    width: 100%;
    margin: 0;
  }

  @mixin list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    ;
  }
