//Main-Menu

//Reservation
.reservation {
    background-color: $light-gray;
    text-align: center;
    padding: 30px;

    &__title {
      font-size: $font-size-h2;
      margin: 10px 15px;
    }

    &__subtitle {
        margin:0 0 27px 0;   
        font-size: $font-size-h3-subtitle;
    }

    &__btn {
        @include purple-button;
        box-shadow: $shadow-button;
        margin-bottom: 27px;
        transition: all 350ms ease-in-out;
            &:hover{
                opacity: .80;
                box-shadow: $shadow-button-hover;
            }
    }

 }

 //Functioning
.functioning {
    height: 324px;
    padding: 48px 20px 68px 20px;

    &__title {
        font-size: $font-size-h2;
        margin: 0 0 26px 0;
    }

    &__steps {
        font-family: $main-font;
        @include list;
        gap: 25px;

        &-li {
            height: 72.38px;
            border-radius: 20px;
            background-color: $light-gray;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            font-weight: bold;
            box-shadow: $shadow-function;
        }

        &-number {
            @include centered-presentation;
            width: 24px;
            height: 24px;
            background-color: $primary-color;
            color: white;
            font-size: 14.18px;
            border-radius:50px;
            position: relative;
            left: -3%;
            font-weight: normal;
        }
                
        i {
            color:#7E7E7E;
            margin: 0 23px 0 10px;
            font-size: 18px;
        }

        .fa-store {
            color: $primary-color;
        }
    }
}

//Restaurants
.restaurants {
    height: 1066px;
    background-color: $light-gray;
    padding:54px 17px 106px 17px;

    &__title {
        margin: 0 0 20px 0;
    }

    &__card {
        @include restaurant-card;
        margin-bottom: 18px;

        &-img {
            @include restaurant-card-image
        }

        &-new {
            position:relative;
    
            p{
                position: absolute;
                z-index: 1;
                @include gree-button;
                @include centered-presentation;
                color: #008766;
                font-weight: bold;
                font-size: 14px;
                padding: 0 10px;
                right:10px;
            }
        }

        &-content {
            
            height: 77px;
            margin: 10px 20px 12px 16px;

            &-title {
                margin: 0 0 5px 0;
                font-size: $font-size-h3-subtitle; 
            }

            &-subtitle {
                margin: 0;
                font-size: $font-size-p;
            }
            
            &-hearts{
                position: relative;
                font-size: 24px;
            
                transform: translateY(-130%) translateX(90%); // Ajuste pour le centrage
            }

            .empty-heart  {
                position: relative;
                z-index: 1;
                opacity: 1; // Opacité initiale
                    &:hover {
                            opacity: 0;
                            transition: opacity 250ms ;  
                        }
                    

                }
            
            .purple-heart {
                background: linear-gradient(180deg, $primary-color, $secondary-color);
                position: absolute;
                z-index: -1;
                opacity: 1;
                

            }

            

            
        }  
    }

}
//Restaurant's pages