//Restaurant's pages

.menu {
    @include mobile-first;

    @media screen and (min-width: 375px) {
        max-width: 1440px;
    }
    
    
    &__img {
        object-fit: cover;
        width: 100%;
        height: 275px;

        @media screen and (min-width: 768px) {
            height: 383px;
            object-position: 50% 50%;
        }
    }

    &__container {
        border-radius: 40px 40px 0 0;
        background-color: $light-gray;
        position: relative;
        margin-top: -13%;
        width: auto;
        padding: 32px 13px 40px 13px;

        @media screen and (min-width: 425px) {
            padding: 32px 10% 40px 10%;
        }
        
        @media screen and (min-width: 768px) {
            width: 73%;
            place-self: center;
            margin-top: -2%;
        }
    }

    &__title {
        font-size: $font-size-h1;
        font-family: $logo-title-font;
        font-weight: 400;
        margin: 0;

        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    &__hearts{
        position: absolute;
        font-size: 24px;
        height: 21px;
        width: 22px;
        right: 10%;
        top: 4.5%;
        transform: translateY(-50%);
        background-color: transparent;

        @media screen and (min-width: 768px) {
            right: 22%;
        }

        @media screen and (min-width: 1024px) {
            right: 27%;
        }

        @media screen and (min-width: 1440px) {
            right: 33%;
        }
    }

    .empty-heart {
        position: absolute;
        z-index: 2;
        background-color: white;
        transition: opacity, transform 25ms ;
        transform-origin: top;
        animation-fill-mode: forwards;
        background-color: $light-gray;

        &:active {
            transform: scaleY(0);
            opacity: 0;
        }
    }

    .purple-heart {
        position: absolute;
        @include icon-linear-gradient;
    }

    &__subtitle {
        font-weight: 300;
        font-size: $font-size-li-components-h2restaurant;
        border-bottom: 3px solid $tertiary-color;
        width: 40px;
        margin-top: 40px;
    }

    &__order-btn {
        @include purple-button;
        box-shadow: $shadow-button;
        padding: 0 48px;
        margin-top: 40px;
        display: flex;
        place-self: anchor-center;
        transition: all 350ms ease-in-out;
            &:hover{
                opacity: .80;
                box-shadow: $shadow-button-hover;
            }
    }

    &__apetizer, &__main, &__dessert{
        
        @media screen and (min-width: 768px) {
            margin: 40px 20% 0 20%;
        } 
    }

    &__meal {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 39px;
        width: auto;
        margin-top: 12px;
        padding: 15px;
        border-radius: 15px;
        background-color: white;
        box-shadow: $shadow-meal;

        &:active &-selected {
            transform: translateX(0);
        }

            &-title {
                font-size: $font-size-h3-subtitle;
                margin: 0;
                white-space: nowrap;        
                overflow: hidden;          
                text-overflow: ellipsis;  
            }

            &-subtitle {
                font-size: $font-size-p-restaurant;
                margin: 0;
                display: flex;
                justify-content: space-between;
                font-weight: 300;
                
                &-text{
                white-space: nowrap;        
                overflow: hidden;          
                text-overflow: ellipsis; 
                }

                &-price {
                    font-weight: bold;
                    color: $dark-gray;
                }
            }

             &-selected {
                position: absolute;
                right: -59px;
                top: 0;
                bottom: 0;
                height: 69px;
                width: 59px;
                @include centered-presentation;
                color: white;
                background-color: #99E2D0;
                border-radius: 0 15px 15px 0;
                transition: transform 0.5s; 
                

            }

            
        }
}

//position: relative;left: 92.5%;top: -48%;position: absolute;right: 50%top: 13.25%;
