//Restaurant's pages

.menu {
    @include mobile-first;

    @media screen and (min-width: 375px) {
        max-width: 1440px;
    }
    
    
    &__img {
        object-fit: cover;
        width: 100%;
        height: 275px;
        object-position: 50% 75%;
        

        @media screen and (min-width: 768px) {
            object-position: 50% 80%;
        }

        @media screen and (min-width: 1024px) {
            height: 383px;
            object-position: 50% 55%;
        }
    }

    &__container {
        border-radius: 40px 40px 0 0;
        background-color: $light-gray;
        position: relative;
        margin-top: -13%;
        width: auto;
        padding: 32px 13px 40px 13px;

        @media screen and (min-width: 425px) {
            padding: 32px 10% 40px 10%;
        }
        
        @media screen and (min-width: 768px) {
            width: 73%;
            place-self: center;
            margin-top: -4%;
        }

        @media screen and (min-width: 1024px) {
            width: 55%;
            padding: 51px 110px 40px 110px;
        }

        @media screen and (min-width: 1440px) {
            width: 44%;
            padding: 51px 210px 40px 210px;
        }
    }

    &__title {
        font-size: $font-size-h1;
        font-family: $logo-title-font;
        font-weight: 400;
        margin: 0;

        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    &__hearts{
        position: absolute;
        font-size: 24px;
        height: 21px;
        width: 22px;
        right: 15%;
        top: 4.5%;
        transform: translateY(-50%);
        background-color: transparent;

        @media screen and (min-width: 768px) {
            justify-self: anchor-center;
            left: 450px;
        }

        @media screen and (min-width: 1024px) { 
            left: 320px;
        }

        @media screen and (min-width: 1440px) { 
            left: 320px;
        }

    }

    .empty-heart {
        position: absolute;
        z-index: 2;
        background-color: white;
        transition: opacity, transform 25ms ;
        transform-origin: top;
        animation-fill-mode: forwards;
        background-color: $light-gray;

        &:active {
            transform: scaleY(0);
            opacity: 0;
        }
    }

    .purple-heart {
        position: absolute;
        @include icon-linear-gradient;
    }

    &__subtitle {
        font-weight: 300;
        font-size: $font-size-li-components-h2restaurant;
        border-bottom: 3px solid $tertiary-color;
        width: 40px;
        margin-top: 40px;
    }

    &__order-btn {
        @include purple-button;
        box-shadow: $shadow-button;
        padding: 0 48px;
        margin-top: 40px;
        display: flex;
        place-self: anchor-center;
        transition: all 350ms ease-in-out;
            &:hover{
                opacity: .80;
                box-shadow: $shadow-button-hover;
            }
    }

    @keyframes apparitionProgressive {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    &__apetizer, &__main, &__dessert {
        animation: apparitionProgressive 800ms linear forwards;

        @media screen and (min-width: 768px) {
            margin: 40px 3% 0 3%;
        } 

        @media screen and (min-width: 1024px) {
            margin:0;
        } 
    }

    &__apetizer {
        animation-delay: .5s;
        opacity:0;
    }
    
    &__main {
        animation-delay: .75s;
        opacity:0;
    }
    
    &__dessert {
        animation-delay: 1s;
        opacity:0;
        }
    
    &__meal {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 39px;
        width: auto;
        margin-top: 12px;
        padding: 15px;
        border-radius: 15px;
        background-color: white;
        box-shadow: $shadow-meal;
        overflow: hidden;

        &:active {
            .menu__meal-selected {
                transform: translateX(-59px);
                transition: transform 200ms linear;
            }

            .menu__meal-subtitle-price {
                transform: translateX(-59px);
                margin-left: 60px;
                transition: transform 200ms linear;
            }
        }

        &:not(:active) {
            .menu__meal-selected {
                transition: transform 200ms linear;
            }
    
            .menu__meal-subtitle-price {
                transition: transform 200ms linear;
            }
        }

        &-title {
            font-size: $font-size-h3-subtitle;
            margin: 0;
            @include hidden-overflow;
        }

        &-subtitle {
            font-size: $font-size-p-restaurant;
            margin: 0;
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            @include hidden-overflow;
            width: 100%;
            align-items: center;
            transition: transform 200ms linear;
                
            &-text{
            @include hidden-overflow;
            margin-top: 5px;
            }

            &-price {
                font-weight: bold;
                color: $dark-gray;
                }
        }

        &-selected {
            position: absolute;
            right: -59px;
            top: 0;
            bottom: 0;
            height: 69px;
            width: 59px;
            @include centered-presentation;
            color: white;
            background-color: #99E2D0;
            border-radius: 0 15px 15px 0;
            transition: transform 200ms;
            transform: translateX(0);
        }  
    }
}
